# Project exclude paths
/.gradle/
/build/
/common/.gradle/
/common/build/
/common/build/classes/java/main/
/fabric/.gradle/
/fabric/build/
/fabric/build/classes/java/main/
/forge/.gradle/
/forge/build/
/forge/build/classes/java/main/
/fabric/run/
